/* navbar */
.navbar {
  background-color: white;
}
/* end navbar */

/* title */
.title {
  margin-top: 100px;
  min-height: 400px;
}

.title h1,
h6 {
  font-weight: 300;
  color: #867a7a;
}

.title .card .icon {
  width: 60px;
  height: 60px;
  margin: auto;
}

.title .card .text-card h6 {
  font-weight: 700;
  font-size: 12px;
  color: black;
}

.title .card .text-card p {
  font-weight: 300;
  font-size: 14px;
  color: #867a7a;
}

.title .card .text-card .read-more a {
  text-decoration: none;
  color: rgb(49, 47, 47);
  font-weight: 500;
  transition: all 0.4s;
}

.title .card .text-card .read-more a:hover {
  color: rgb(95, 91, 91);
  transition: all 0.4s;
}
/* end title */

/* hero */
.hero {
  min-height: 600px;
}
.hero .hero-img img {
  width: 250px;
  right: 40px;
}

.hero .title-hero span {
  font-weight: 300;
  color: #867a7a;
  font-size: 28px;
}

.hero p {
  color: #867a7a !important;
  font-weight: 300;
}
/* end hero */

/* footer */
footer {
  min-height: 300px;
  width: 100%;
  bottom: 0;
}

footer p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(180, 180, 180);
}

footer h6 {
  font-weight: 600;
}

footer ul li a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(180, 180, 180);
  font-size: 13px;
}

footer ul li a:hover {
  color: wheat;
}

footer .copy {
  height: 90px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 50px;
}

footer .copy p {
  color: rgb(65, 65, 65);
  font-size: 14px;
}

footer .copy p span {
  font-weight: 700;
}
/* end footer */
